@charset "utf-8";
/*=========================Reset_start==========================*/
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}
html,body{font-family:"微软雅黑","宋体",Arail,Tabhoma; font-size: 16px; text-align: left;}
ul,ol{list-style: none;}
img{border: none;}
/*outline是轮廓，起到突出作用的，和边框一样，但是不占用位置*/
input,select,textarea{outline:none;}
textarea{resize:none; overflow: auto;}
table{border-collapse: collapse; border-spacing: 0;}
th,strong,var,em,b,i,u{font-weight: normal; font-style: normal;}
a{text-decoration: none;}

/*==========================Reset_End===========================*/
